<!DOCTYPE html>
<html lang="ro"> 
    <head>
       
        
        <meta name="description" content="Floraria Thumbelina va incanta cu o foarte mare varietate de flori: buchete,cutii,cosuri,cadouri personalizate">
        <meta name="keywords" content="lalea,zambila,ursulet,produse,pret,crini,ciocolata,cos,cutie,flori,trandafir,rosu,buchet,cadou">
        <link rel="stylesheet" type="text/css" href="/resurse/css/403_style.css"/> 
        <%- include("../fragmente/head") %>

        
    </head>
    <body>
    
    <%- include("../fragmente/header") %> <!--afiseaza rezultatul fct apelate(aici include)-->

    <h1>Factură Floraria Thumbelina</h1>
    <p>Stimate/a domn/doamna <%-locals.utilizator.nume %>, aveți aici lista de produse achiziționate.</p> 
    <table id="tabl">
        <thead>
            <tr>
                <th>Produs</th>
                <th>Preț</th>
                <th>Cantitate</th>
            </tr>
        </thead>
        
        <tbody>
            <% for (let prod of locals.produse) { %>
                <tr>
                    <td><%-  prod.nume %></td>
                    <td><%-  prod.pret %></td>
                </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Total: 18</td>
            </tr>
        </tfoot>
    </table> 
    <footer>
        <%- include("../fragmente/footer") %>
    </footer>
    <div id="banner">Acesta este un proiect scolar! &#128517;</div>
    </body>
    
    </html>
